{% extends 'base.html.twig' %}

{% block title %}Hello SpotifyController!{% endblock %}

{% block body %}
    <article>
        <header>
            <h1>🚀 Your TOP 30 playlist is updated in Spotify !</h1>
        </header>
        <h3>Here is your NEW playlist:</h3>
        <ul>
            {% for item in tracks.items %}
                <li>{{ item.track.name }} - {{ item.track.artists[0].name }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
